# Rust target directory
target/*
!target/debug/
!target/debug/**
!target/release/
!target/release/**

# Exclude specific directories in debug and release
target/debug/.fingerprint/
target/debug/.fingerprint/**
target/debug/.deps/
target/debug/.deps/**
target/debug/.incremental/
target/debug/.incremental/**

target/release/.fingerprint/
target/release/.fingerprint/**
target/release/.deps/
target/release/.deps/**
target/release/.incremental/
target/release/.incremental/**

# Build directory - allow only .d and binaries
build/*
!build/*.d
!build/*.bin

# Other common files to ignore
*.rs.bk
Cargo.lock
*.log
*.tmp
*.swp
*.bak
.DS_Store
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
